
html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: $base-font-size;
  background-color: black;
}

body {    
  @include align-items(center);
  @include justify-content(center);
  background-color: black;
  font-size: 1.6rem;

  main {
    @include justify-content(center);
    width: 100%;
<<<<<<< HEAD

    @include respond-to(sm) {
      height: 100%;
    }

    @include respond-to(xs) {
      height: 100%;
    }

    .carousel-fade {
      position: fixed;
      left: 0%;
      height: 100%;

      .carousel-inner {
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        .item {
          transition-property: opacity;
        }
          
        .item {
          opacity: 0;
        }

        .active {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
      }
    }
=======
    padding: 0;
    margin: 0;
>>>>>>> origin/master
  }
}
