.devise {
  background-image: url('profile-menu.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;

  .container {
    height: 100%;
  }

  .recoverable {
    position: relative;
    top: 7px;
  }

  .devise-errors {
    color: $error-color;
  }

  img {
    margin-top: 15px;
    max-width: 150px;
    width: 70px;
  }

  &-horizontal {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-box {
    width: 100%;

    h5 {
      margin: 0;
    }

    p {
      font-weight: 300;
    }

    @media #{$small-and-down} {
      width: 100%;
    }

    &-header {
      color: $white;
<<<<<<< HEAD
      padding-left: 15px;
=======
>>>>>>> origin/master
      padding-top: 80px;
    }

    &-title {
      font-family: 'Patua One', cursive;
      font-size: 30px;
      padding-bottom: 10px;
    }

    &-body {
      margin-bottom: 0;
      padding: 15px;
    }

    &-footer {
      margin-bottom: 0;
      padding: 0 15px 15px;
    }
  }
}
