
.front {
<<<<<<< HEAD
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  top: 0;

  @include respond-to (xl) {
    position: fixed;
    right: 15%;
    z-index: 1000;
  }

  @include respond-to (lg) {
    position: fixed;
    right: 5%;
    z-index: 1000;
  }

  @include respond-to (md) {
    position: fixed;
    right: 5%;
    z-index: 1000;
  }

  @include respond-to (sm) {  
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
  }

  @include respond-to (xs) {  
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
  }

  &-logo {

    .fancy-logo {
      height: 27vh;
      margin-top: 9.5vh;
      max-height: 180px;

      @include respond-to(xs) {
        height: 24vh;
      }
    }

    .fancy-text {
      height: 18vh;
      margin-top: 2vh;
      margin-bottom: 3vh;
      max-height: 130px;

      @include respond-to(xs) {
        height: 15vh;
      }
    }
  }

  &-social {

    .contrataciones {
      background-color: #de2057;
      padding: 2vh 7vh;
      font-family: 'Lato Heavy', sans-serif;
      font-weight: $bold !important;
      color: #ffffff;
      font-size: 2.3vmin;

      @include respond-to(sm) {
        padding: 1.5vh 5vh;
        font-size: 2.6vmin;
      }

      @include respond-to(xs) {
        padding: 2vh 5vh;
        font-size: 2.8vmin;
      }
    }
    .contrataciones:hover {
      transition-duration: 300ms !important;
      background: linear-gradient(to bottom, #de2057 0%,rgba(198, 0, 79, 1) 100%);
      text-decoration: none;
    }

    .info-title {
      h4 {
        font-weight: $bold;
        margin-top: 5vh;
        font-size: 2.5vmin;

        @include respond-to(sm) {
          font-size: 2.8vmin;
        }

        @include respond-to(xs) {
          font-size: 3vmin;
        }
      }
    }

    .info-contact {
      h5 {
        margin-top: 7px;
        margin-bottom: 0px;
        font-size: 2.2vmin;

        @include respond-to(sm) {
          font-size: 2.5vmin;
        }

        @include respond-to(xs) {
          font-size: 2.7vmin;
        }
      }
    }

    .flex-container {
      padding-left: 0px !important;
      justify-content: center;

      .row {
        display: inline-flex;


        .facebook-logo {
          transition-duration: 300ms;
          padding: 0.25em 0.6em;
          background-color: #ffffff;
          font-size: 2.5vmin;
          border-radius: 50%;
          color: black;
          margin-right: 40px;

          @include respond-to(sm) {
            font-size: 3vmin;
          }

          @include respond-to(xs) {
            font-size: 3.2vmin;
          }
        }

        .instagram-logo {
          transition-duration: 300ms;
          padding: 0.25em 0.4em;
          background-color: #ffffff;
          font-size: 2.5vmin;
          border-radius: 50%;
          color: black;

          @include respond-to(sm) {
            font-size: 3vmin;
          }

          @include respond-to(xs) {
            font-size: 3.2vmin;
          }
        }

        a:hover {
          transition-duration: 300ms;
          background-color: #de2057;
          color: #ffffff;
          text-decoration: none;
        }
      }

      a img{
        width: 10vmin;
        padding-top: 3px;
        display: inline-block;

          @include respond-to(xs) {
            width: 12vmin;
          }
      }

      li a img:hover {
        background-color: #ffffff; 
        border-radius: 50%;
      }

      footer {
        margin-top: 3.5vh;

        span {
          font-size: 1.8vmin;

          @include respond-to(xs) {
            font-size: 2.5vmin;
          }
        }

        a img:hover {
          background-color: transparent; 
          border-radius: 0%;
        }
=======
  @include align-items(left);
  @include display(flex);
  @include flex-direction(column);
  background-image: image-url('app/fondo.jpg');
  background-position: 0% 30%;
  height: 100vh;
  width: 100%;
  top: 0;

  &-container {
    @include display(flex);
    @include flex-direction(column);
    transform: translateY(20vh);
    width: 100%;

    .logo {
      width: 80%;
      float: left;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      @include respond-to(xs){
        width: 100%;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 120%);
      }

      img {
        width: 40vw;
        max-width: 500px;
        float: left;
        margin-left: 50px;
        @include respond-to(xs){
          width: 70vw;
        }
      @include respond-to(lg){
        margin-left: 200px;
      }
      @include respond-to(xl){
        margin-left: 200px;
      }
      }
    }

    .info {
      color: white;
      text-align: center;
      padding-left: 50px;
      margin-top: 20px;
      font-weight: bold;
      width: 55%;
      @include respond-to(xs){
        width: 100%;
        padding: 0 30px 0 30px;
      }
      @include respond-to(lg){
        font-size: 1.5em;
      }
      @include respond-to(xl){
        font-size: 1.5em;
      }
    }

    .bottom {
      background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%);
      margin-top: 50px;
      width: 100%;
      font-weight: bold;
      text-align: right;
      padding-right: 30px;
      font-size: 0.9em;
      color: black;
      @include respond-to(xs){
        background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 120%);
      }
      @include respond-to(lg){
        font-size: 1.5em;
      }
      @include respond-to(xl){
        font-size: 1.5em;
      }
      .website {
        padding: 0 5px 0 5px;
        margin: 0;
        background-color: yellow;
        display: inline-flex;
>>>>>>> origin/master
      }
    }
  }
}