!!!
%html
	= render 'app/layouts/head'
	%body
		%header
			= #render 'app/layouts/navigation'
<<<<<<< HEAD
		%main{:role => "main"}
			= #render 'app/layouts/messages'
			= yield
			#carousel-example-generic.carousel.slide.carousel-fade.hidden-sm.hidden-xs
				
				.carousel-inner
					.item.active
						= image_tag "app/Fondo.jpg"
					.item
						= image_tag "app/2.jpg"
					.item
						= image_tag "app/Promo_Page-Fancy_Carrusel-1.jpg"


:javascript
	$('.carousel').carousel({
	  interval: 5000,
	})
=======
		%main
			= #render 'app/layouts/messages'
			= yield
>>>>>>> origin/master
