<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Lato);

.front-social {
	text-align: center;

	.info-title{
		h4 {
			margin-top: 20px;
			font-family: 'Lato Heavy', sans-serif;
			font-weight: 500;
			color: #ffffff;
		}
	}

	.info-contact {
		h5 {
			font-family: 'Lato Regular', sans-serif;
			font-weight: 400;
			color: #ffffff;
		}
	}
}
=======
@import url(https://fonts.googleapis.com/css?family=Lato);
>>>>>>> origin/master
