.front
<<<<<<< HEAD
	.front-logo
		= image_tag "app/Logo_Fancy.png", class: "front-logo img-responsive fancy-logo"
		= image_tag "app/Frase.png", class: "front-logo img-responsive fancy-text"
	.front-social{ role: 'div' }
		=	link_to "https://fancystaff.typeform.com/to/Hx7Ye1", class: "contrataciones" do
			CONTRATACIONES
		.info-title
			%h4
				CONTACTOS
		.info-contact
			%h5
				(+58) 424 653 26 84
			%h5
				info@fancystaff.com

		%ul.flex-container
			%li.row
				=	link_to "https://www.facebook.com/Fancy-Staff-118205211844714/?ref=ts&fref=ts", target:"_blank", class: "flex-item facebook-logo" do
					%i.fa.fa-facebook.fa-lg
			%li.row
				=	link_to "https://www.instagram.com/fancystaff/", target:"_blank", class: "flex-item instagram-logo" do
					%i.fa.fa-instagram.fa-lg
		
			%footer
				= render 'app/layouts/footer'
=======
	.front-container
		.logo
			= image_tag "app/logo.png"
		.info
			Haosh El Omara Industrial City, Zahle, Lebanon.
			%br Telf / Fax: +9618-930843 Cel: +9617-6553208
			+58 414-743.5226 - info@agriplastint.com
		.bottom
			.website
				WEBSITE
			UNDER CONSTRUCTION
//	%footer
//		= render 'app/layouts/footer'
>>>>>>> origin/master
